Repository PHPCSStandards/PHP_CodeSniffer-documentation, pull requests merged in 2025-08, with the labels that each got.

#38 Enhance command replacer
  build/wiki-command-replacer.sh
Labels: Type: chores/QA/automation, Status: triage, Component: Wiki

#46 GH Actions: work around a bug in Lychee
  .github/workflows/basic-qa.yml
  CONTRIBUTING.md
Labels: Type: chores/QA/automation, Component: Wiki

#45 GH Actions: update PHP ini configuration
  .github/workflows/publish-wiki.yml
Labels: Type: chores/QA/automation

#44 Minor fixes and adjustments to the PHPCS 4.0 upgrade guides
  wiki/Version-4.0-Developer-Upgrade-Guide.md
  wiki/Version-4.0-User-Upgrade-Guide.md
Labels: Component: Wiki, Type: other documentation improvement
